# Beginner Python and Math for Data Science
## Lecture 11
### Set

__Purpose:__
The purpose of this lecture is to understand how to work with sets.

__At the end of this lecture you will be able to:__
1. Understand how to create sets
2. Work with various operations such as membership, value comparison and math operations with sets
3. Update, add and remove elements in a set

## 1.1 Set Types in Python

### 1.1.1 What is a Set Type?

__Overview:__
- __[Set Type](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset):__ The two Set Types in Python refer to `set` and `frozenset`, although we will only cover the `set` type in this basic class
- Set Types in Python have the following characteristics:
> - Set Types are unordered (each element from left to right is NOT assigned a number - this disables our ability to index (find) elements within a set type)
> - Set Types have to contain only unique elements
> - Set Types can be mutable or immutable 

__Helpful Points:__ 
1. The term "set" in the Set Type is chosen because the type resembles the term ["set"](https://en.wikipedia.org/wiki/Set_(mathematics)) in mathematics

In [1]:
my_list = [1,1,2,3,3] 

print(set(my_list))
# find only the distinct elements of my_list

# convert my_list (of list type) to a set type

{1, 2, 3}

### 1.1.2 Set Type Operations

__Overview:__
- Since Set Types are unordered (they are not sequences), they are NOT subject to the Common Sequence Operations (with some exceptions) that we have used for strings, lists, tuples and ranges 
- However, there exists an equivalent list of operations that are possible for set types (both `set` and `frozenset`) which include some of the Common Sequence Operations
- Depending on if the Set Type is mutable or immutable, it is subject to a different set of operations:
> 1. __Mutable Set Type (`set`)__: Mutable Set Type can be operated on using the __common set operations__ AND the __mutable set type operations__
> 2. __Immutable Set Type (`frozenset`)__: Immutable Set Type can be operated on using ONLY the __common set operations__

- The __common set operations__ can be grouped together into the following categories:
> 1. Membership Test Operations
> 2. Value Comparisons 
> 3. Mathematical Operations (i.e. intersection, union, difference, symmetric difference, etc.) 
> 4. Other operations (removing duplicates from other types, len, copy)

- The __mutable set type operations__ can be grouped together into the following categories:
>1. Updating elements 
>2. Adding elements 
>3. Removing elements

__Helpful Points:__
1. We will only explore the set operations of `set` not `frozenset`

### 1.1.3 Overview of Set Type 1 - `set`

__Overview:__
- __[set](https://docs.python.org/3/library/stdtypes.html#set):__ Sets are mutable objects that are used to store distinct elements

__Helpful Points:__
1. Sets are defined by curly brackets `{` and `}`
2. Each element in a set is separated by a comma

### 1.1.4 Creating Sets

__Overview:__
- There are two ways to create a set in Python:
1. Method 1: Using a pair of curly brackets with at least one element inside the curly brackets 
2. Method 2: Using the __Type Constructor__

__Helpful Points:__
1. Similar to lists, tuples, and strings, it is also possible to create a set within a set also known as a __Nested Set__ 
2. Be careful when initializing a new set that you enter at least one element inside the curly brackets, otherwise the interpreter will understand the command as initializing a dictionary (explained below)

__Practice:__ Examples of creating sets in Python

### Example 1 (Create Set with Method 1)

In [2]:
set_1 = {}
print(set_1)
type(set_1)

{}

dict

Note if you don't include an element within the curly brackets, you are actually creating a `dict` type (dictionary)

In [3]:
set_2 = {1,2,3,4,5,5}
print(set_2)
type(set_2)

{1, 2, 3, 4, 5}

set

### Example 2 (Create Set with Method 2)

In [4]:
set_2 = set()
print(set_2)
type(set_2)

set()

set

### 1.1.5 Accessing Elements within Sets

- Remember that Set Types are __unordered__ which means their elements do not have an implicit number attached to them and therefore can NOT be accessed
- This means we can not perform any indexing or slicing on sets

In [5]:
my_set = {1,2,3}
my_set[0]

TypeError: 'set' object is not subscriptable

### 1.1.6 More Set Operations

__Overview:__
- Recall the types of operations available for Set Types 
- Since the `set` type is mutable (unlike the `frozenset` type which is not covered in this course), we can perform both the common set operations and the mutable set type operations 

__Helpful Points:__
1. Below, Part 1 will cover the common set operations
2. Below, Part 2 will cover the mutable set type operations 

__Practice:__ Examples of Set Operations in Python

### Part 1: Common Set Operations

### Example 1.1 (Membership Tests):

In [9]:
my_set = {1, 5, "True"}
print(my_set)

{1, 'True', 5}

In [10]:
"G" in my_set

False

In [11]:
5 not in my_set

False

### Example 1.2 (Value Comparisons):

### Example 1.2.1 (Subset):

In [15]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

In [18]:
set_1 <= set_2 # tests whether every element in set_1 is in set_2

False

In [19]:
set_1.issubset(set_2)

False

### Example 1.2.2 (Proper Subset):

In [20]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3, 4, 5}

In [21]:
set_a <= set_b # tests whether every element in set_a is in set_b

True

In [22]:
set_a < set_b # tests whether set_a <= set_b and set_a != set_b

False

We can see that `set_a` is a subset of `set_b` but NOT a strict/proper subset of `set_b`

### Example 1.2.3 (Superset):

In [23]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

In [24]:
set_1 >= set_2 # tests whether every element in set_2 is in set_1

False

In [25]:
set_1.issuperset(set_2)

False

In [26]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}

set_1.issuperset(set_2)

True

### Example 1.2.4 (Proper Superset):

In [27]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3, 4, 5}

In [28]:
set_a >= set_b # tests whether every element in set_b is in set_a

True

In [29]:
set_a > set_b # tests whether set_a >= set_b and set_a != set_b

False

We can see that `set_a` is a superset of `set_b` but NOT  strict/proper superset of `set_b`

### Example 1.3 (Mathematical Operations) (BONUS):

### Example 1.3.1 (Union)

In [30]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

In [31]:
set_1.union(set_2) # returns a new set with elements from set_1 and set_2

{1, 2, 3, 4, 5, 6, 7}

In [32]:
set_1 | set_2 # bitwise OR

{1, 2, 3, 4, 5, 6, 7}

### Example 1.3.2 (Intersection):

In [33]:
set_1.intersection(set_2) # returns a new set with elements common to set_1 and set_2

{3, 4, 5}

In [34]:
set_1 & set_2 # bitwise AND

{3, 4, 5}

### Example 1.3.3 (Difference):

In [35]:
set_1.difference(set_2) # returns a new set with elements in set_1 that are not in set_2

{1, 2}

In [36]:
set_1 - set_2

{1, 2}

### Example 1.3.4 (Symmetric Difference):

In [37]:
set_1.symmetric_difference(set_2) # returns a new set with elements in either set_1 or set_2, but not both

{1, 2, 6, 7}

In [38]:
set_1 ^ set_2 # bitwise XOR

{1, 2, 6, 7}

### Example 1.3.5 (Disjoint):

In [39]:
set_1.isdisjoint(set_2) # returns true if set_1 has no elements in common with set_2 (intersection is the empty set)

False

### Example 1.4 (Other Operations):

### Example 1.4.1 (Remove Duplicates):

In [40]:
dup_list = ["C", "C", "L", "A", "R", "K", "K", "K"]
print(dup_list)

['C', 'C', 'L', 'A', 'R', 'K', 'K', 'K']

In [41]:
set(dup_list) # remove duplicates from a list in one line of code

{'A', 'C', 'K', 'L', 'R'}

In [42]:
# remove duplicates from a list using set

dup_list_1 = set(dup_list)
dup_list_2 = list(dup_list_1)
print(dup_list_1)
print(dup_list_2)

{'K', 'L', 'R', 'C', 'A'}
['K', 'L', 'R', 'C', 'A']

### Example 1.4.2 (Length):

In [43]:
set_1 = {1, 2, 3, 4, 5}

In [44]:
len(set_1)

5

### Example 1.4.3 (Copy):

In [45]:
set_1_copy = set_1.copy() # returns a new set with a shallow copy of set_1 
print(set_1)

{1, 2, 3, 4, 5}

In [46]:
print (id(set_1_copy))
print (id(set_1))

1984899303016
1984900089672

### Part 2: Mutable Set Type Operations

### Example 2.1 (Updating Elements):

In [51]:
my_list = [1,2,3]
my_list[0] = 5
print(my_list)

[5, 2, 3]

In [52]:
set_1 = {1, 2, 3, 4, 5}
set_1[0] = 9
set_2 = {3, 4, 5, 6, 7}

TypeError: 'set' object does not support item assignment

In [53]:
set_1.update(set_2) # update set_1, adding elements from set_2 
print(set_1)

{1, 2, 3, 4, 5, 6, 7}

We can also perform `intersection_update`, `difference_update`, and `symmetric_difference_update` - see the documentation

### Example 2.2 (Adding Elements):

In [54]:
set_1 = {1, 2, 3, 4, 5}

In [55]:
# add an element that is not already in the set 
set_1.add(6)
print(set_1)

{1, 2, 3, 4, 5, 6}

In [56]:
# add an element that is already in the set
set_1.add(5)
print(set_1)

{1, 2, 3, 4, 5, 6}

### Example 2.3 (Removing Elements):

In [57]:
set_1.remove(1) 
print(set_1)

{2, 3, 4, 5, 6}

In [58]:
set_1.remove(10) # raises an error if the element you are trying to add is not in the set

KeyError: 10

In [59]:
set_1.discard(2)
print(set_1)

{3, 4, 5, 6}

In [60]:
set_1.discard(10) # does not raise an error if the element you are trying to add is not in the set 
print(set_1)

{3, 4, 5, 6}

In [61]:
set_1.clear() # removes all elements from the set 
print(set_1)

set()