# Beginner Python and Math for Data Science

#### 1. For the list: list1 = [0,1,2,3,4,5,6,7,8,9]

A) Write a slice that returns [0,2,4,6,8] 

B) Write a slice that returns [1,3,5,7]

C) Write a slice that returns [6,5,4,3]

D) Write a slice that return [8,5,2]

In [1]:
# your solution here
list1 = [0,1,2,3,4,5,6,7,8,9]

# A
list1[::2]

[0, 2, 4, 6, 8]

In [8]:
# B
list1[1:-1:2]

[1, 3, 5, 7]

In [13]:
# C
list1[-4:-8:-1]

[6, 5, 4, 3]

In [16]:
# D
list1[-2::-3]

[8, 5, 2]

#### 2. For the list: list2 = [0,['a','b','c'],2]

A) Write a slice that returns [2,['a','b','c'],0] 

B) Write a slice that return ['a','b','c']

C) Write a slice that returns ['b','c']

D) Write a slice that returns ['c','a']

E) Write a slice that returns [2,0]

F) Write a slide that returns ['c','b','a']

In [19]:
list2 = [0,['a','b','c'],2]

# A
list2[::-1]

[2, ['a', 'b', 'c'], 0]

In [21]:
list2[1]

['a', 'b', 'c']

In [20]:
# C
list2[1][1::]

['b', 'c']

In [22]:
# D
list2[1][::-2]

['c', 'a']

In [23]:
# E
list2[::-2]

[2, 0]

In [25]:
# F
list2[1][::-1]

['c', 'b', 'a']

#### 3. For the following list: list3 = [1, 8, 7, 3, 2, 5, 3]

A) Find the index ( i ) where a __7__ occurs and return the element from the next index ( i+1 ), in this example if would be 3.

B) Calculate the average between the maximum and minimum value of the list

C) Using code, determine how many times __3__ occurs in the list

D) Replace the last three elements in the list with 'x','y' and 'z', respectively to get [1,8,7,3,'x','y','z']

E) Replace the element with index 1 with ['a','b','c'] to get [1,['a','b','c'],7,3,'x','y','z']

F) Replace the letter 'b' and 'c' with 'd' and ['e','f'], respectively to get [1,['a','d',['e','f']],7,3,'x','y','z']

In [35]:
list3 = [1,8,7,3,2,5,3]

# A
i = list3.index(7)
list3[i+1]

3

In [36]:
# B
(max(list3) + min(list3))/2

4.5

In [37]:
# C
list3.count(3)

2

In [40]:
# D
list3[-3:] = ['x','y','z']
list3

[1, 8, 7, 3, 'x', 'y', 'z']

In [41]:
# E
list3[1] = ['a','b','c']
list3

[1, ['a', 'b', 'c'], 7, 3, 'x', 'y', 'z']

In [44]:
# F
list3[1][1:] = ['d',['e','f']]
list3

[1, ['a', 'd', ['e', 'f']], 7, 3, 'x', 'y', 'z']

#### 4. For the following list: list4 = [ 1, 3, 4, 2, 7]

A) Add a __5__ at the end to get [1, 3, 4, 2, 7, 5]

B) Add a __7__ at the beginning to get [7, 1, 3, 4, 2, 7, 5]

C) Add a __3__ at the index 2 to get [7, 1, 3, 3, 4, 2, 7, 5]

D) Remove the last two elements of the list to get [7, 1, 3, 3, 4, 2]

E) Reverse the list to get [2, 4, 3, 3, 1, 7]

F) Sort the list in place to get [1, 2, 3, 3, 4, 7]

In [1]:
list4 = [ 1, 3, 4, 2, 7]

# A
list4.append(5)
print(list4)

[1, 3, 4, 2, 7, 5]

In [2]:
# B
list4.insert(0, 7)
list4

[7, 1, 3, 4, 2, 7, 5]

In [3]:
# C
list4.insert(2, 3)
list4

[7, 1, 3, 3, 4, 2, 7, 5]

In [4]:
# D
del list4[-2::]
list4

[7, 1, 3, 3, 4, 2]

In [5]:
# E
list4.reverse()
list4

[2, 4, 3, 3, 1, 7]

In [8]:
# F
list4.sort()
list4

[1, 2, 3, 3, 4, 7]

#### 5. For the following string: "The quick brown fox jumps over the lazy dog"

A) How many characters, including blank spaces, are in the string?

B) Replace the work "quick" with "slow"

C) How many words are in the sentence? 

D) At what index does the letter "z" occur?

E) Sort the letters of the sentence (not in place) and print it out.

F) Count how many times the  letter "o" appears.

G) Print the string with the first letter of each word capitalized.  Google the __title__ method.

In [9]:
my_string = "The quick brown fox jumps over the lazy dog"

# A
len(my_string)

43

In [11]:
# B
my_string = my_string.replace('quick','slow')
my_string

'The slow brown fox jumps over the lazy dog'

In [17]:
# C
my_list = my_string.split(' ')
print("There are {} words in the sentence".format(len(my_list)))

There are 9 words in the sentence

In [18]:
# D
my_string.index('z')

36

In [20]:
# E
print(sorted(my_string))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'T', 'a', 'b', 'd', 'e', 'e', 'e', 'f', 'g', 'h', 'h', 'j', 'l', 'l', 'm', 'n', 'o', 'o', 'o', 'o', 'o', 'p', 'r', 'r', 's', 's', 't', 'u', 'v', 'w', 'w', 'x', 'y', 'z']

In [22]:
# F
my_string.count('o')

5

In [26]:
# G
print(my_string.title())

The Slow Brown Fox Jumps Over The Lazy Dog

#### 6. Print a sentence with the following format: "The number is X!" Replace X with:

A) The output of 1/3 showing all decimals

B) The output of 1+1/3 showing no decimals

C) The output of 10/3 showing 2 decimals

In [27]:
# A
print("The number is {}".format(1/3))

The number is 0.3333333333333333

In [35]:
# B
print("The number is {}".format(round(1+1/3)))

The number is 1

In [47]:
# C
print("The number is {:.3}".format(10/3))

The number is 3.33

#### 7. Create a tuple that has the following values 21, 'Roberto', 177.5

A) Assign the three values to the following three variable names: Name, Height and Age using packing/unpacking.

B) Fix the assignments above by updating the variable to contain Age = 21, Name = 'Roberto' and Height = 177.5 using packing/unpacking.

C) Add the first and last elements of the tuple.

D) From the tuple create a list that contains the last and first values to obtain [177.5, 21]

In [48]:
my_tuple = (21,'Roberto',177.5)

# A
Name, Height, Age = my_tuple

print(Name, Height, Age)

21 Roberto 177.5

In [49]:
# B
Name, Height, Age = Height, Age, Name
print(Name, Height, Age)

Roberto 177.5 21

In [50]:
# C
my_tuple[0] + my_tuple[2]

198.5

In [54]:
# D
list(my_tuple[::-2])

[177.5, 21]

#### 8. Using range, print a list that contains the following values:

A) [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

B) [30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20]

C) [5, 10, 15, 20, 25]

D) [100, 78, 56, 34, 12, -10, -32, -54, -76, -98]

In [66]:
# A
print(list(range(10,21)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [67]:
# B
print(list(range(30,19,-1)))

[30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20]

In [68]:
# C
print(list(range(5,30,5)))

[5, 10, 15, 20, 25]

In [69]:
# D
print(list(range(100,-100,-22)))

[100, 78, 56, 34, 12, -10, -32, -54, -76, -98]

#### 9. Create a range that has the following elements [100, 67, 34, 1, -32, -65, -98]

A) What is the third element in the range?

B) Print a list with the elements on the odd indices of the range (e.g. 1, 3, 5 ...)

C) Print a list with the values of the range sorted from low to high

D) Print if the value __-32__ is in the range?

E) What is the index for the value __-32__?

F) How many values are in the range?

G) What is the minimum value of the range?

In [75]:
my_range = (range(100,-100,-33))
print(my_range)
print(list(my_range))

# A
my_range[2]

range(100, -100, -33)
[100, 67, 34, 1, -32, -65, -98]

34

In [76]:
# B
print(my_range[1::2])
print(list(my_range[1::2]))

range(67, -131, -66)
[67, 1, -65]

In [79]:
# C
print(sorted(my_range))

[-98, -65, -32, 1, 34, 67, 100]

In [80]:
# D
print(-32 in my_range)

True

In [81]:
# E
my_range.index(-32)

4

In [82]:
# F
len(my_range)

7

In [83]:
# G
min(my_range)

-98

#### 10. For the following string: "The quick brown fox jumps over the lazy dog"

A) Modify the string so that all the characters are lowercase

B) Create a set that extracts the unique letters in the string

C) Remove the blank space as an element from the set

D) Print a list that shows the elements of the set sorted. What do you notice?

In [5]:
my_string = "The quick brown fox jumps over the lazy dog"

# A
my_string = my_string.lower()
print(my_string)

the quick brown fox jumps over the lazy dog

In [10]:
# B
my_set = set(my_string)
print(my_set)

{'c', 'p', 'o', 'r', 'l', 'a', 'g', 'f', 'w', 'e', 'q', 'j', 'i', 'n', 'm', 'k', 's', 'z', 'v', 'b', 'd', ' ', 'u', 'y', 't', 'x', 'h'}

In [11]:
# C
my_set.remove(' ')
print(my_set)

{'c', 'p', 'o', 'r', 'l', 'a', 'g', 'f', 'w', 'e', 'q', 'j', 'i', 'n', 'm', 'k', 's', 'z', 'v', 'b', 'd', 'u', 'y', 't', 'x', 'h'}

In [12]:
# D
sorted_list = sorted(list(my_set))
print(sorted_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

#### 11. Create a dictionary with the following:

A) A dictionary (__dict1__) with the following key values:
- Name: Clark
- LastName: Kent

B) A dictionary (__dict2__) with the following key values:
- Name: Bruce 
- LastName: Wayne

C) A dictionary (__dict3__) with the following key values:
- Person1: dict1
- Person2: dict2

D) Print the LastName of Person1

E) Replace the Name of Person2 with 'Batman'

F) Add to Person1 the following key values:
- Planet: Krypton

G) Remove the Name from Person2

H) Add a Person3 with the following:
- Person3: {Superhero:WonderWoman}

In [20]:
# A
dict1 = {'Name':'Clark','LastName':'Kent'}

In [21]:
# B
dict2 = {'Name':'Bruce','LastName':'Wayne'}

In [23]:
# C
dict3 = {'Person1':dict1,'Person2':dict2}
dict3

{'Person1': {'Name': 'Clark', 'LastName': 'Kent'},
 'Person2': {'Name': 'Bruce', 'LastName': 'Wayne'}}

In [24]:
# D
dict3['Person1']['LastName']

'Kent'

In [25]:
# E
dict3['Person2']['Name'] = 'Batman'
dict3

{'Person1': {'Name': 'Clark', 'LastName': 'Kent'},
 'Person2': {'Name': 'Batman', 'LastName': 'Wayne'}}

In [26]:
# F
dict3['Person1']['Planet'] = 'Krypton'
dict3

{'Person1': {'Name': 'Clark', 'LastName': 'Kent', 'Planet': 'Krypton'},
 'Person2': {'Name': 'Batman', 'LastName': 'Wayne'}}

In [27]:
# G
del dict3['Person2']['Name']
dict3

{'Person1': {'Name': 'Clark', 'LastName': 'Kent', 'Planet': 'Krypton'},
 'Person2': {'LastName': 'Wayne'}}

In [29]:
# H
dict3['Person3'] = {'Superhero':'WonderWoman'}
dict3

{'Person1': {'Name': 'Clark', 'LastName': 'Kent', 'Planet': 'Krypton'},
 'Person2': {'LastName': 'Wayne'},
 'Person3': {'Superhero': 'WonderWoman'}}